blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pillow==11.0.0
svgwrite==1.4.3
Tree==0.2.4
Werkzeug==3.0.6
WTForms==3.2.1
