{% extends 'base.html' %}

{% block title %}registration{% endblock %}

{% block content %} 

	
	<div>
		<h3>{{ msg }}</h3>
		<form method="POST">
		    {{ form.hidden_tag() }}
			<div>
				{{ form.username.label }}
				{{ form.username() }}<br/>
				{% for error in form.username.errors %}
					<span style="color: red;">{{ error }}</span>
				{% endfor %}
			</div>
			<div>
				{{ form.email.label }}
				{{ form.email() }}<br/>
				{% for error in form.email.errors %}
					<span style="color: red;">{{ error }}</span>
				{% endfor %}
			</div>
			{{ form.submit() }}
			<!-- {% if form.username.errors %}
			    <ul class="errors">
			    {% for error in form.username.errors %}
			        <li>{{ error }}</li>
			    {% endfor %}
			    </ul>
			{% endif %}
		    {{ form.username.label }} {{ form.username(size=20) }}
	    <input type="submit" value="Go"> -->
		</form>
		
	</div>
	

{% endblock %} 